<!-- <ng-content select="h1"></ng-content>
 <div ngIf="nome != 'emerson'">
    <p [ngClass]="{'active': valor, 'disabled': !valor} ">oi</p>
    <p [ngStyle]="{'height': heightPx, 'background': backgroundColor}">oi</p>
</div>

<hr>

<input [(ngModel)]="nome">

<button (click)="salvar()">Salvar</button>

<li *ngFor="let item of list">{{item.nome}}</li> 

<ng-template ngFor let-item [ngForOf]="list">
    <p>
        {{item.nome}}
    </p>
</ng-template>

<input [(ngModel)]="nome">

<button (click)="salvar()">Salvar</button> 

<ng-content select="hr"></ng-content> -->
<!-- 
<input [(ngModel)]="nome">

<button (click)="salvar()">Salvar</button>

<li *ngFor="let item of list">{{item.nome | uppercase}}</li>  -->

{{date | date: 'ddMMyyyy'}}