.active {
    background: red; 
}

.disabled {
    background: blue;
}

p {
    height: 300px;
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 20%;
    border-radius: 15%;
}